<div class="container-fluid">
    <div class="row hidden-print" ng-controller="HeaderCtrl">
		<div class="col-sm-5 col-md-7 col-lg-8">
          <ol class="breadcrumb">
            <li >
                <a ng-click="goHome()">Home</a>
                <span ng-hide="$last" class="divider"></span>
            </li>
            <li >
                <a ng-click="goToIncidents()" class="klik">Incidents</a>
                <span ng-hide="$last" class="divider"></span>
            </li>
            <li >
                <a ng-click="goToLogs()" class="klik">Logs</a>
                <span ng-hide="$last" class="divider"></span>
            </li>
          </ol>
		</div>
		<div class="col-sm-1 col-md-1 col-lg-1 pull-right">
			<a ng-click="print()" class="btn btn-primary btn-xs">Print Screen</a>
		</div>
		<div class="col-sm-1 col-md-1 col-lg-1 pull-right">
			<button class="glyphicon glyphicon-screenshot" popover-placement="bottom" popover-trigger="focus" 
			  popover="latitude: {{position.coords.latitude}}, longitude: {{position.coords.longitude}}, accuracy: {{position.coords.accuracy}}">
				<span my-current-location="position"></span>
			</button>
		</div>
	</div>
</div>