<div class="container-fluid"  ng-class="{'navbar-inverse':data.peerlist.length==0}">
  <div class="collapse navbar-collapse" ng-controller="HeaderCtrl">
    <ul class="nav navbar-nav">   
      <li>
        <a ng-click="goHome()" role="button" class="navbar-brand">
          UniGIS Eagle
        </a>
      </li>
      <li ng-if="data.peerlist.length>0">
        <p ng-if="data.user!=''"  class="navbar-text"><a ng-click="goToLogout()"><span class="glyphicon glyphicon-ok-sign text-success" title="online"></span> User: {{data.user}}</a></p>
        <p ng-if="data.user==''"  class="navbar-text"><a ui-sref="login"><span class="glyphicon glyphicon glyphicon-remove-sign text-danger" title="online"></span><strong class="text-danger"> Not logged in</strong></a></p>
         
      </li>
      <li ng-if="data.peerlist.length==0"> <p class="navbar-text  text-danger"><span class="glyphicon glyphicon-off text-danger" title="offline"></span><strong class="text-danger"> Connection lost</strong></p>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <!-- <p class=" navbar-text">POS: <span my-current-location="position"></span> </p> -->
        <!-- <p class=" navbar-text">POS: <span my-current-location="position">lat:{{position.coords.latitude}}, lon:{{position.coords.longitude}}</span> </p> -->
        <p class=" navbar-text"><span my-current-location="position"></span> </p>
      </li>
      <li>
        <p class=" navbar-text">Date: <span my-current-time="dateformat"></span> </p>
      </li>
      <li>
        <p class=" navbar-text">Time: <span my-current-time="timeformat"></span> </p>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <p ng-if="data.incident!=''" class=" navbar-text">Incident: {{data.incident}}</p>
      </li>
    </ul>
  </div>
</div>
     
        
      